@font-face {
    font-family: 'Bold';
    src: url('./../fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
    font-family: 'Regular';
    src: url('./../fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Light';
    src: url('./../fonts/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: 'Italic';
    src: url('./../fonts/TitilliumWeb-Italic.ttf');
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(183, 213, 0, 0.8); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(183, 213, 0, 0.8); 
}