.rec.rec-arrow {
    background-color: #B7D500;
    outline: none;
}

.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: #B7D500;
}

.rec.rec-arrow:active{
    background-color: #B7D500;
}

.rec.rec-dot {
    background-color: #B7D500;
    outline: none;
}